*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

/* VERSION 3.0 - BEM --mejor versión*/
/*estilos por defecto*/
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
}
a{
    color: black;
    text-decoration: none;
}
/*header*/
.header{
    width: 100%;
    height: 65px;
}
.header__nav{
    display: flex;
    justify-content: flex-end;
}
.header__ul{
    width: 205px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    list-style: none;
    margin: 1.5% 3.5% auto auto;
}
.header__li{
}
.header__a{
    display: block;
}
.header__a--bckground{
    background: url('../img/9110893_menu_dots_icon.png') no-repeat center;
    background-size: contain;
    width: 20px;
    height: 20px; 
    text-indent: -9999px;
}
.header__img{
 border-radius: 50%;
 width: 35px;
}

/*main*/
.main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__h1{
    margin-top: 15vh;
    text-align: center;
}
.main__img{}
.main__form{
    border: 1px solid #bd83aa28;
    border-radius: 75px;
    padding: 10px 15px;
-webkit-box-shadow: 0px 1px 9px -2px rgba(253, 194, 235, 0.5);
-moz-box-shadow: 0px 1px 9px -2px rgba(253, 194, 235, 0.5);
box-shadow: 0px 1px 9px -2px rgba(253, 194, 235, 0.5);

}
.main__div{
    display: flex;
    align-items: center;
}
.main__span{
    display: block;
    background: url('../img/search-icon-png-18.png') no-repeat center;
    background-size: contain;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
}
.main__label{}
.main__input{
    border: 0;
    width: 500px;
    margin-left: 10px;
    font-size: 1.2em;
    outline: none;
   /* height: 30px; */
}

.main__span--icons{
    background: url('../img/7123011_google_mic_icon.png') no-repeat center;
    background-size: contain;
    width: 27px;
    height: 27px;
}
.main__a--icons{
}

.main__section, .main__p{
    margin-top: 20px;
}
.main__button{
    cursor: pointer;
    font-size: 1em;
    padding: 10px 10px;
    margin-right: 5px;
    border: 0;
    border-radius: 3px;
    background-color: #bd83aa0c;
    color: #5d5c5c;
}

.main__p{
}
.main__a{
    color: blue;
}

/*footer*/
.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    background-color: #b6b5b51e;
    border: 1px solid #bd83aa0c;
}
.ul{
    list-style: none;
    margin: 0 15px;
}
.ul__li{
    display: inline;
    margin-right: 5px;
}
.ul__a{
    color: #5d5c5c;

}

/*HOVER*/
.main__button:hover{
border: 1px solid #42203622;
/* -webkit-box-shadow: 0px 3px 0px 2px #42203622;
-moz-box-shadow: 0px 3px 0px 2px #42203622;
box-shadow: 0px 3px 0px 2px #42203622; */
}